<div id="sidebar">
    <a href="/profile"><div>Profile</div></a>
    <a href="/generatepass"><div>Generate Password</div></a>
    <a href="/vault"><div>Secure Vault</div></a>
    <span>PazzVault</span>
</div>
<script>
    
</script>