<link rel="stylesheet" href="/css/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cryptojs/3.1.2/rollups/aes.js"></script>
<h2>Hello <%= name %>! Welcome to PazzVault</h2>
<a href="/">Home</a>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
<hr>
<form id="credForm" action="/addcred" method="post">  <!--/addcred-->
    <div>
        <input type="text" placeholder="Website" name="website">
    </div>
    <div>
        <input type="text" placeholder="Username" name="username" required>
    </div>
    <div style="display: flex; align-items: center;">
        <input id="password" type="password" placeholder="Password" name="password" required>
        <img src="/img/view.png" id="eye" alt="View" width="25px" onclick="visibility()">
        <button type="button" onclick="makeid()">Generate Now</button>       
    </div>
    <input type="submit">
</form>
<script>
    const generated = document.getElementById('password')
    const eye = document.getElementById('eye')
    const credForm = document.getElementById('credForm')

    const makeid = ()=>{
        let length = Math.floor(Math.random() * 6 + 7)
        let result = ''
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789@#*!%'
        const chlen = characters.length
        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * chlen))
        }      
        generated.value = result
    }

    const visibility = ()=>{
        if(generated.type == 'password'){
            generated.type = 'text'
            eye.src = '/img/not-view.png'
        } else{
            generated.type = 'password'
            eye.src = '/img/view.png'
        }
    }

    // credForm.addEventListener('submit', (event)=>{
    //     event.preventDefault()
    //     console.log(event)
    // })
</script>