<link rel="stylesheet" href="/css/styles.css">
<h2>Hello <%= name %>! Welcome to PazzVault</h2>
<a href="/">Home</a>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
<hr>
<h3>Check Password Breach</h3>