<link rel="stylesheet" href="/css/styles.css">
<%- include('partials/header')  %>
<div class="Container">
    <%- include('partials/sidebar') %>
    <div>
        <h2 style="margin: 10px 0px 0px 10px;">Profile</h2>
        <p style="margin: 10px 0px 0px 10px;">Your Credentials:</p>
        <div id="userCreds">
    
        </div>
    </div>
    <a href="/profile/addcred">
        <div id="addIcon" class="tooltip">
            +
            <span class="tooltiptext">Add Credential</span>
        </div>
    </a>
</div>
<script>
    const userCreds = document.getElementById('userCreds')
    fetch('/profile/getcreds',{
        method: 'GET'
    })
    .then(res => res.json())
    .then((creds)=>{
        creds.forEach(cred => {
            let div = document.createElement('div')
            div.className = 'credBox'
            div.style.width = '250px'
            div.style.height = '100px'
            div.style.backgroundColor = 'whitesmoke'
            div.style.borderRadius = '7px'
            div.style.margin = '10px'
            div.style.padding = '5px'
            div.style.border = '1px solid #148543'

            let website = document.createElement('a')
            website.href = `https://${cred.website}`
            website.target = '_blank'
            website.style.display = 'block'
            website.style.margin = '5px'
            website.innerHTML = `Website: ${cred.website}`
            div.appendChild(website)

            let username = document.createElement('div')
            username.style.margin = '5px'
            username.innerHTML = `Username: ${cred.username}`
            div.appendChild(username)

            let password = document.createElement('div')
            password.style.margin = '5px'
            password.innerHTML = `Password: <span class="spoiler">${cred.password}</span>`
            div.appendChild(password)

            userCreds.appendChild(div)
        });
    })
    .catch((e)=>{
        console.log(e)
    })
</script>