<link rel="stylesheet" href="/css/styles.css">
<script>
    const cookieMatch = document.cookie.match(/^(.*;)?\s*vault\s*=\s*[^;]+(.*)?$/)
    if(cookieMatch){
        console.log('here')
        window.location.pathname = '/vault/access'
    }
</script>
<%- include('partials/header')  %>
<div class="Container">
    <%- include('partials/sidebar') %>
    <div style="margin-left: 10px;">
        <h2 style="margin: 10px 0px;">Secure Vault</h2>
        <form class="signin" action="/verifyotp" method="POST">
            <button style="margin: 5px 0px;" type="button" onclick="generateOTP()">Generate OTP</button>
            <div style="display: flex; align-items: center;">
                <input name="otp" type="password" id="otp-submit" placeholder="OTP" required>
                <img src="/img/view.png" id="eye" alt="View" width="25px" onclick="visibility()">
            </div>
            <input type="submit">
        </form>
    </div> 
</div>
<script>
    const pass = document.getElementById('otp-submit')
    const visibility = ()=>{
        if(pass.type == 'password'){
            pass.type = 'text'
            eye.src = '/img/not-view.png'
        } else{
            pass.type = 'password'
            eye.src = '/img/view.png'
        }
    }

    const generateOTP = ()=>{
        fetch('/sendmail', {
            method: 'POST'
        })
        .then((res)=>{
            alert('OTP sent')
        })
    }
</script>